@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,500&family=Roboto:wght@100;300;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}

main{
    background: #FFF9FF;
    width: 100%;
}

header{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF9FF
}
.navbar li{
    display: inline;   
}
.navbar{
    margin: auto;
}
.logo{
    color: #520F87;
    font-style: italic;
    font-size: 30px;
    padding: 35px;
    line-height: 12px;
    border-radius: 0px 0px 100px 100px;
    background: white;
    box-shadow: 0px 8px 15px rgba(0, 104, 255, 0.09);
    display: inline;
}

.login{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginbox{
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(71, 107, 210, 0.19);
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.invite{
    padding-bottom: 30px;
}
.invite p{
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    text-align: center;
}
.invite span{
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #000000;
    opacity: 0.5;
    text-align: center;
}
.infobox{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
label{
    font-size: 12px;
    font-weight: bold
}
input{
    border: none;
    color: #4568D1;
    opacity: 0.6;
    padding-left: 10px;
}
button{
    background: none;
    border: none;
    margin-right:10px ;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13.5px;
    font-weight: 600;
    
}
.loginbtn{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background: #520F87;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 40px; */
}

.input{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(86, 107, 160, 0.5);
    width: 300px;
    height: 50px;
}


@media(max-width: 660px){
    body{
        width: 100%;
    }
    .login{
        width: 100%;
    }
    .loginbox{
        width: 90%;
    }
    .input{
        width: 250px;
        /* margin: auto; */
    }
    .loginbtn{
        width: 250px;
    }
}