@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100;1,500&family=Roboto:wght@100;300;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #FFF9FF;
}

header{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 100px;
}

.navbar{
    width: 70%;
    margin: auto;
}
.navbar ul{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.navbar li{
    display: inline;   
}

.logo{
    color: #520F87;
    font-style: italic;
    font-size: 30px;
    padding: 35px;
    line-height: 12px;
    border-radius: 0px 0px 100px 100px;
    background: white;
    box-shadow: 0px 8px 15px rgba(0, 104, 255, 0.09);
    display: inline;
}
 .navbar a{
    text-decoration: none;
    color: #000000;
    opacity: 0.6;
    font-size: 13px;
}
.section1{
    width: 100%;
    position: relative;
    text-align: center;
}
.section1 img{
    height: 480px;
    width: 100%;
    padding-top: 100px;

}
.subscribe{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.subscribe p{
    font-weight: bold;
    font-size: 40px;
    width: 550px;
    padding-top: 30px;
    line-height: 45px;
}
.subscribe span{
    color: #000000;
    opacity: 0.7;
    line-height: 50px;
    font-size: 15px;
    padding-top:15px;
}

.btn1{
    margin-top: 50px;
}
.btn1 a{
    text-decoration: none;
    padding: 15px 55px ;
    background: #520F87;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 15px;
}
.btn1 p{
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    opacity: 0.4;
 
}
.section2{
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work span{
    font-size: 14px;
    line-height: 32px;
    color: #000000;
    opacity: 0.4;
}
p.design{
    font-weight: bold;
    font-size: 25px;
    width: 450px;
    text-align: center;
    padding-bottom: 15px;
}
 p.design1{
    color: #000000;
    opacity: 0.7;
    line-height: 20px;
    font-size: 15px;
}

.circles{
    display: flex;
    width: 70%;
    padding-top: 100px;

}

.circle1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
}
.circle2{
    width: 80px;
    height: 80px;
    background: #520F87;
    opacity: 0.1;
    border-radius: 50%;
}
.divider {
    flex:0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80px;
}
.divider img{
    width: 100px;
}
.desc p{
    margin-top: 15px;
    font-size: 13px;
    line-height: 20px;
    height: 55px;
    width: 180px;
    text-align: center;
}

.pink {
    background: #870F25;
}

.blue{
    background: #0F8780;
}
.section3{
    background: #2A0647;
    width: 100%;
}
.flows{
    background: #2A0647;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flow1{
    width: 85%;
    margin-top: 30px;
    display: flex;
    gap: 3.5em;
}

.flowdesc1{
    height: 250px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(238, 231, 243, 0.1);
    border-radius: 10px;
    position: relative;
   
}
p.design2{
    color: #000000;
    opacity: 0.7;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
}
.flowdesc2{
    width: 80%;
    height: 80%;
    margin: auto;
    position: absolute;
    z-index: 1;
}

.flowdesc2 p{
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFF9FF;
    width: 145px;
    margin-bottom: 15px;
}
.flowdesc2 span{
    font-size: 13px;
    letter-spacing: 0.01em;
    color: #FFF9FF;
    opacity: 0.7;
}

.descy1{
    width: 350px;
    height: 250px;
}
.descy{
    width: 90%;
    height: 250px;
    border-radius: 10px;
}
.descy .design{
    font-weight: bold;
    font-size: 25px;
    width: 240px;
    margin-bottom: 25px;
    text-align: left;
    color: #FFF9FF;
}
.descy span{
    color: #FFF9FF;
    opacity: 0.3;
    font-weight: lighter;
    line-height: 60px;
}

.descy .design1{
    color: #FFF9FF;
    opacity: 0.8;
    width: 250px;
    line-height: 25px;
    font-size: 16px;
}
.descircle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 35px;
    background: #FFA7B7;
    opacity: 0.1;
}
.section4{
    width: 100%;
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4em;
    margin-top: 50px;
    margin-bottom: 50px;
}


.navs{
    display: flex;
    width: 80%;
}
.picsections{
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.picsection{
    display: flex;
    gap: 2em;
}

.picsection img{
    width: 500px;
    height: 300px;
}

.uixblack{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.uixblack a{
    text-decoration: none;
    font-size: 14px;
    color: #2A0647;
}
.uix{

    height: 2px;
    width: 35px;
    background : #2A0647;
}
.navsbar{
    width: 80%;
    margin: auto;
    display: flex;
    margin-right: 0;
}
.navsbar li{
    display: inline;
}
.navsbarul{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

 .navsbar a{
    text-decoration: none;
    color: #000000;
    opacity: 0.6;
    font-size: 13px;
}
.section5{
    width: 100%;
    border-color: #fff4ff;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.navsbar1{
    width: 80%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.navsbar1 li{
    display: inline;
}

.navsbar1ul{
    width: 35%;
    justify-content: space-between;
    display: flex;
    margin-left: 0;
    align-items: center; 
}
.navsbar1ul a{
    text-decoration: none;
    color: #000000;
    opacity: 0.6;
    font-size: 13px;
}

.uixblack1{
    display: flex;
    flex-direction: column;
}
.uixblack1 a{
    text-decoration: none;
    font-size: 14px;
    color: #2A0647;
    padding-bottom: 2px;
    font-weight: bold;
}

.uix1{
    height: 2px;
    width: 75px;
    background : #2A0647;
}
.flat{
    width: 900px;
    height: 400px;
    margin: auto;
    display: flex;
    padding: 50px 50px 0px 50px;
    gap: 2em;
    margin-top: 30px;
    background: white;
}

.flat1{
    display: flex;
    flex-direction: column;
}
p.flats{
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 15px;
}
 p.flats1{
    color: #000000;
    font-size: 12px;
    width: 240px;
    margin-bottom: 50px;
}

.flatpic img{
    width: 550px;
    height: 350px;
    display: flex;
    justify-self: baseline;
}
.btn2{
    margin-top: 15px;
}
.btn2 a{
    text-decoration: none;
    padding: 10px 40px ;
    background: #520F87;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 11px;
}

.section6{
    width: 100%;
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
}
.works{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.works span{
    font-size: 11.5px;
    line-height: 32px;
    color: #000000;
    opacity: 0.4;
    font-weight: bold;
}
.fair{
    display: flex;
    gap: 2em;
    margin-top: 20px;
}
.basic{
    height: 550px;
    width: 280px;
    background: #fff9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.basics1{
    height: 550px;
    width: 280px;
    border: 2px solid  #fff7ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.basics{
    width: 80%;
    height: 80%;
    position: relative;
}
.designblack{
    font-size: 14px;
}

p.design3{
    color: #000000;
    opacity: 0.8;
    width: 250px;
    font-size: 13px;
}

p.basic1{
    font-weight: bold;
    font-size: 20px;
    width: 450px;
    opacity: 0.8;
    padding-bottom: 15px;
}
p.flats2{
    color: #000000;
    font-size: 12px;
    width: 190px;
    margin-bottom: 10px;
}
.order{
    margin-top: 20px;
    position: absolute;
    top: 230px;
}
.order span{
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.4;
    font-size: 10px;
}
.order ul {
    font-size: 12px;
    line-height: 25px;
    color: #000000;
    opacity: 0.8;
    list-style-position: inside;
    margin-left: 7px;
    margin-top: 5px;
}
.donate{
    width: 70%;
    display: flex;
    height: 145px;
    /* position: relative; */
    /* justify-content: space-evenly; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.hands img{
    width: 200px;
    height: 150px;
    display: flex;
    justify-self: baseline;
    /* position: absolute; */
    /* z-index: 1; */
    /* padding: 0; */
    /* background: yellow; */
}
.don{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn3{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.btn3 a{
    text-decoration: none;
    padding: 12px 30px ;
    background: rgba(82, 15, 135, 0.08);
    border-radius: 5px;
    color: #520F87;
    font-size: 11px;
}
.section7{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}
.quest{
    width: 100%;
    margin-top: 50px;
}
.quest1{
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
    align-items: stretch;
    justify-content: space-between;
}

.quest1 button{
    background: none;
    border: none;
}
.quest1 p{
    color: black;
    opacity: 0.8;
    font-size: 14px;
    line-height: 60px;
}
.get{
    height: 60vh;
    background: #170327;
}
.gets{
    min-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.get1 span{
    font-weight: bold;
    font-size: 25px;
    width: 450px;
    padding-bottom: 15px;
    color: white;
}
.get1 p{
    font-size: 12px;
    padding-bottom: 15px;
    line-height: 20px;
    color: white;
    opacity: 0.8;
}
.get2 {
    display: flex;
    margin-top: 100px;
    margin-bottom: 0;
}
.get2 li {
    display: inline;
}
.get2 ul{
    text-decoration: none;
    color: white;
    opacity: 0.4;
    font-size: 11px;
    display: flex;
    gap: 5em;
}
@media(max-width:660px){
    header{
        display: none;
    }
    .section1{
        width: 100%;
        position: relative;
        text-align: center;
    }
    .section1 img{
        width: 100%;
        padding-top: 100px;
    
    }
    .subscribe p{
        font-weight: bold;
        font-size: 28px;
        /* width: 550px; */
        padding-top: 30px;
        line-height: 30px;
    }
    .subscribe span{
        width: 250px;
        line-height: 30px;
    }
    
    .btn1{
        margin-top: 50px;
    }
    .btn1 a{
        padding: 15px 35px ;
    }
    .btn1 p{
        font-size: 13px;
    }
    p.design{
        width: 400px;
    }
    .circles{
        flex-direction: column;
        gap: 2em;
    }
    .flow1{
        flex-direction: column;
    }
    .picsection{
        flex-direction: column;
        gap: 3em;
        align-items: center;
        justify-content: center;
    }
    .picsection img{
        width: 90%;
    }
    .navs{
       display: none;
    }
    .navsbar1, .navsbar1ul{
        width: 70%;
        gap: 3em;
    }
    .flat{
        flex-direction: column;
        width: 100%;

        height: 700px;
    }
    .flatpic img{
        width: 100%;
        height: 250px;
    }
    p.flats1{
        width: 100%;
    }

    .section6{
        min-height: 250vh;
    }
    .fair{
        flex-direction: column;
        align-items: center;
    }
    .donate{
        flex-direction: column;
        gap: 3em;
        border-bottom: none;
    }
    .designblack{
        width: 300px;
    }
    .quest{
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
    .quest1 p{
        font-size: 13px;
        line-height: 40px;
    }
}